.header{
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: flex;
  font-family: 'Ruslan Display', cursive;
  font-size: 25px;
}

.header__menu-wrap{
  padding-left: 50px;
}

@media screen and (max-device-width: $width_900){
  .header__logo{
    font-size: 20px;
  }
}

@media screen and (max-device-width: $width_480){
  .header{
    max-width: 480px;
    flex-direction: column;
  }

  .header__logo{
    width: 100%;
    font-size: 15px;
  }

  .header__menu-wrap{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0;
  }
}





