.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__map{
  width: 100%;
  padding-top: 50px;
}

.info__map-iframe{
  width: 100%;
  height: 300px;
}

@media screen and (max-device-width: $width_900){

  .info__map-iframe{
    width: 100%;
    height: 250px;
    padding: 0 10px;
  }
}

@media screen and (max-device-width: $width_480){
  .info__map{
    padding-top: 10px;
  }

  .info__map-iframe{
    width: 100%;
    height: 200px;
    padding: 0 10px;
  }
}



