.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  overflow: hidden;
}

.main__wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 0 5px;
}

.main__header{
  display: none;
  font-family: 'Ruslan Display', cursive;
  text-align: center;
  word-break: break-all;
  font-size: 30px;
}

.main__info{
  padding-right: 50px;
}

.main__map{
  width: auto;
  flex-shrink: 0;
  padding: 10px;
}

.main__map-iframe{
  width: 100%;
  height: 700px;
}

.main__slider{
  margin-top: 0;
}

@media screen and (max-device-width: $width_900){

  .main{
   max-width: 900px;
  }

  .main__header{
    display: block;
  }

  .main__info{
    max-width: 900px;
    padding: 0 10px;
  }

  .main__map{
    width: auto;
  }

  .main__map-iframe{
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-device-width: $width_700){
  .main__map{
    width: 300px;
  }

  .main__map-iframe{
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-device-width: $width_480){

  .main{
    flex-direction: column;
    max-width: 480px;
  }

  .main__wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) fit-content(300px);
  }

  .main__info{
    max-width: 480px;
    padding: 0;
  }

  .main__map{
    width: auto;
  }

  .main__map-iframe{
    width: 100%;
    height: 300px;
  }

  .main__slider{
    margin-top: 10px;
  }
}
