.menu {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.menu__button{
  display: none;
}

.menu__checkbox-icon{
  display: none;
  width: 100%;
  padding-left: 20px;
}

.menu__checkbox-icon-label{
  display: none;
  cursor: url('../assets/cursors/embossed.cur'), auto;
  width: 20px;
  height: 20px;
  background: linear-gradient(#fff 15%, transparent 15%, transparent 40%, #fff 40%, #fff 55%,  transparent 55%,  transparent 85%, #fff 85%, #fff 100%);

  &::after {
    content: "";
    display: none;
    cursor: url('../assets/cursors/embossed.cur'), auto;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, transparent 42%, #fff 42%, #fff 58%,  transparent 58%, transparent 100%);
  }
}

.menu__item-list-wrapper{
  display:block;
  padding-bottom: 3px;
}

.menu__item-list{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__item{
  &:link,
  &:visited,
  &:hover,
  &:active{
    color: #fff;
    text-decoration: none;  
    padding-right: 20px;
    word-break: break-all; 
  } 

  &:last-child{
    padding-right: 0;
  } 
}

.menu__item--current{
  border-bottom: 1px solid #f00;
  font-weight: bold;
  font-style: oblique;
  font-size: 120%;
}

@media screen and (max-device-width: $width_480) {

  .menu{
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5px;
  }

  .menu__checkbox-icon{
    display: flex;
    flex-direction: row-reverse;
  }

  .menu__item-list-wrapper{
    margin: 0;
    padding-bottom: 0;
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__item-list{
    width: 90%;
    background: #000;
    flex-direction: column;
    margin-right: 0;
    box-shadow: 0 0 20px #000;
    position: relative;
    border: solid 1px #fff;
    border-radius: 5px;
    top: -200px;
    transition: top ease-in-out 1s;
    z-index: 1;
  }

  .menu__item{
    text-align: right;
  }

  .menu__item--current{
    border-bottom: 1px solid #f00;
    font-weight: bold;
    font-style: oblique;
    font-size: 120%;
  }

  .menu__checkbox-icon-label{
    display: flex;
  }

  .menu__button{
    &:checked ~ .menu__item-list-wrapper .menu__item-list{
      top: 10px;
    }

    &:checked ~ .menu__checkbox-icon .menu__checkbox-icon-label{
      background: linear-gradient(45deg, transparent 42%, #fff 42%, #fff 58%,  transparent 58%, transparent 100%);
    }  

    &:checked ~ .menu__checkbox-icon .menu__checkbox-icon-label::after{
      display: block;
    }
  }
}
