.site{
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.site > input{
  display: none;
}

@media screen and (max-device-width: $width_900){
  .site{
    max-width: 800px;
  }
}

@media screen and (max-device-width: $width_480){
  .site{
    max-width: 480px;
  }
}
