.slider{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider__image-gallery-wrapper{
  width: 100%;
  height: 870px;
  overflow: hidden;
  position: relative;

  &::before{
    content:"";
    display: block;
    height: 270px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #000 30%, transparent);
    z-index: 1;
  }

  &::after{
    content:"";
    display: block;
    height: 270px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 600px;
    background: linear-gradient(to top, #000 30%, transparent);
    z-index: 1;
  }
}

.slider__image{
  width: 400px;
  height: 270px;
}

.slider__image-gallery{
  display: grid;
  grid-auto-rows: 300px;
  grid-row-gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition:  top ease-in-out 1s;
}

.slider__image-wrapper{
  display:block;
}

  /*
  top: -1*( (n-2) * (height + grid-row-gap) );
  */

@for $i from 1 through 9 {

  .slider__input:nth-child(#{$i}):checked ~ .slider__image-gallery-wrapper .slider__image-gallery{
    top: -1*( ( $i - 2 )  * (300px + 20px));
  }
}

.slider__image-description{
  margin-top: 7px;
  display: block;
  text-align: center;
  color: #000;
  transition: color ease-in-out 1s;

  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

@for $i from 1 through 9{

  .slider__input:nth-child(#{$i}):checked ~ .slider__image-gallery-wrapper .slider__image-gallery .slider__image-wrapper:nth-child(#{$i}) .slider__image-description{

    color: #fff;
  }
}

.slider__navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;	
}

.slider > input{
  display: none;
}

.slider__controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.slider__label{
  display: block;  
  cursor: url('../assets/cursors/embossed.cur'), auto;
  width: 20px;
  height: 20px;
  text-align: center;
 }

 @for $i from 1 through 9{

  .slider__input:nth-child(#{$i}):checked ~ .slider__navigation .slider__controls .slider__label:nth-child(#{$i})::before{
  
    content: "";
    display: block;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;    
    position: absolute;
  }
}

.slider__label-dot{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('../assets/cursors/embossed.cur'), auto;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 7px;
}

@for $i from 1 through 9{

  .slider__input:nth-child(#{$i}):checked ~ .slider__navigation .slider__controls .slider__label-dot:nth-child(#{$i})::before{
  
    content: "";
    display: block;
    background: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
}

.slider__navigation-description-item{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 7px;
  text-align: center;
}

@media screen and (max-device-width: $width_900){
  .slider__image-gallery-wrapper{
    width: 266px;
    height: 600px;
  }

  .slider__image-gallery-wrapper::before{
    height: 180px;
  }

  .slider__image-gallery-wrapper::after{
    height: 180px;
    top: 420px;
  }

  .slider__image-gallery{
    grid-auto-rows: 200px;
  }

  .slider__image{
    height: 180px;
    width:  266px;
  }	

  .slider__image-description{
    width: 266px;
  }

  /*
  top: -1*( (n-2) * (height + grid-row-gap) );
  */
  
  @for $i from 1 through 9{
    .slider__input:nth-child(#{$i}):checked ~ .slider__image-gallery-wrapper .slider__image-gallery{

      top: -1*( ( $i - 2 )  * (200px + 20px));
      }
  }
}


@media screen and (max-device-width: $width_480){
  .slider{
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider__controls{
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .slider__label-dot{
    margin-bottom: 0;
    margin-left: 7px;

    &:nth-child(1){
      margin-left: 0;
    }
  }

  .slider__image-gallery-wrapper{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;

    &::before,
    &::after{
      display: none;
    }
  }

  .slider__image-gallery{
    grid-template-columns: repeat(9, 400px);
    grid-auto-columns: 400px;
    grid-column-gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition:  left ease-in-out 1s;
  }

  .slider__image{
    height: 270px;
    width:  400px;
  }

  .slider__image-description{
    width: 300px;
  }

  /*
  top: -1*( (n-1) * (width + grid-column-gap) );
  */

  @for $i from 1 through 9{
    .slider__input:nth-child(#{$i}):checked ~ .slider__image-gallery-wrapper .slider__image-gallery{

      top: 0;
      left: -1*( ( $i - 1 )  * (400px + 10px));
    }
  }
}



