ol{
  text-align: left;  
  word-break: break-word;
}

li{
  text-align: left;  
  word-break: break-word;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text__header{
  font-family: 'Ruslan Display', cursive;
  text-align: center;
  word-break: break-all;
}

.text__header--size_l{
  display: block;
  font-size: 90px;
}

.text__header--size_m{
  display: block;
  font-size: 50px;
}

.text__header--size_s{
  display: block;
  font-size: 40px;
}

.text__header--narrow-screen{
  font-size: 30px;
}

.text__subheader{
  font-size: 36px;
  margin-bottom: 60px;
  text-align: center;
}

.text__description{
  margin-top: 20px;
  text-align: center;
}

.text__article{
  text-align: left;
  display: flex;
  flex-direction: column;

  & > p{
    text-indent: 25px;
  }
}

.text__article--short{
  display: block;
}

.text__article--continued{
  display: block;
}

.text__article-input{
  display: none;
}

.text__article-label{
  display: none;
  color: #f0f;
}

.text__article-big-letter{
  height: 50px;
  display: block;
  font-family: 'Ruslan Display', cursive;
  font-size: 70px;
  float: left;
  margin: 0 7px 0;
}

@media screen and (max-device-width: $width_900){

  .text__header--size_l{
    font-size: 40px;
  }

  .text__header--size_m{
    font-size: 40px;
  }

  .text__header--size_s{
    display: none;
  }
}

@media screen and (max-device-width: $width_480){
  .text__header--size_l{
    font-size: 40px;
  }

  .text__header--size_m{
    font-size: 35px;
  }

  .text__header--size_s{
    font-size: 20px;
  }

  .text__subheader{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .text__article--continued{
    display: none;
  }

  .text__article-label{
    display: block;
  }

  .text__article-input:checked ~ .text__article--continued{
    display: block;
  }
}


